* {
  color: black;
  font-family: 'Abel', sans-serif;
}

body {
  font-family: 'Abel', sans-serif;
  font-size: 1.1em;
  background-color:#C0DEED
}

header {
  height: 125px;
}

h1#welcome {
  display: inline;
  font-size: 7.0em;
}

section.links {
  padding: 20px 8px 0 0;
  display: inline;
  float: right;
}

#wrapper {
  background:#C0DEED;
  position: relative;
  width: 968px;
  padding-top: 63px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}

#holder {
  background: transparent; 
  width: 100%;
  height: 1300px;
}

#forms-wrapper {
  border-radius: 50px;
  /*background: rgb(250,250,250);*/
  display: inline;
  position: relative;
  width: 300px;
  min-height: 250px;
  height: auto;
  float:right;
}

#forms-holder {
  display: inline;
  position: relative;
  width: 100%;
  height: 100%;
}


section.sign_in {
  position: absolute;
  width: 80%;
  padding: 23px;
  font-size: 35px;
  text-align: center;
}

section.sign_up {
  width: 80%;
  padding: 23px;
  font-size: 35px;
  text-align: center;
}

section.logged_in{
  width: 100%;
  font-size: 35px;
  text-align: center;
  font-weight: bolder;
  font-style: italic;
}

#peeps-wrapper {
  border-radius: 50px;
  background: rgb(250,250,250);
  display: block;
  position: relative;
  width: 640px;
  min-height: 800px;
  height: auto;
  float: left;
}

h2 {
  font-size: 3em;
  padding-bottom: 20px;
  position: center;
  float: right;
  padding-right: 275px;
}

#peeps{
  width: 100%;
  padding-top: 40px;
  text-align: center;
  font-weight: bolder;
  font-style: italic;
  margin-left: auto;
  margin-right: auto;
}

p.user_greet{
  float: left;
  font-size: 15px;
  color: rgb(100,100,100);
  font-style: italic;
  padding: 0px 40px 30px 20px;
}

p.body_greet{
  font-size: 25px;
  padding-left: 15px;
  text-align: left;
}

p.time_greet{
  color: rgb(100,100,100);
  font-size: 13px;
  text-align: right;
  padding-right: 19px;
}

section.post_greet{
  position: absolute;
  width: 80%;
  padding: 23px;
  font-size: 35px;
  text-align: center;
}

footer {
  position: center;
}

.button {
  text-decoration:none; text-align:center; 
  padding:11px 32px; 
  border:solid 1px #11a1de; 
  -webkit-border-radius:4px;
  -moz-border-radius:4px; 
  border-radius: 4px; 
  font:18px Arial, Helvetica, sans-serif; 
  font-weight:bold; 
  color:#ffffff; 
  background-color:#3ba4c7; 
  background-image: -moz-linear-gradient(top, #3ba4c7 0%, #15aadb 100%); 
  background-image: -webkit-linear-gradient(top, #3ba4c7 0%, #15aadb 100%); 
  background-image: -o-linear-gradient(top, #3ba4c7 0%, #15aadb 100%); 
  background-image: -ms-linear-gradient(top, #3ba4c7 0% ,#15aadb 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#15aadb', endColorstr='#15aadb',GradientType=0 ); 
  background-image: linear-gradient(top, #3ba4c7 0% ,#15aadb 100%);   
  -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
  -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
  box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  opacity:0.36; 
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=36); 
  filter: alpha(opacity=36); 
  -webkit-transition: all 0.5s ease;
  -moz-transition:  all 0.5s ease;
  -o-transition:  all 0.5s ease;
  transition:  all 0.5s ease;}


.button:hover {
   padding:11px 32px; 
   border:none; 
   -webkit-border-radius:4px;
   -moz-border-radius:4px; 
   border-radius: 4px; 
   font:16px Tahoma, Geneva, sans-serif; 
   font-weight:bold; 
   color:#ffffff; 
   background-color:#18a9d9; 
   background-image: -moz-linear-gradient(top, #18a9d9 0%, #20a7d4 100%); 
   background-image: -webkit-linear-gradient(top, #18a9d9 0%, #20a7d4 100%); 
   background-image: -o-linear-gradient(top, #18a9d9 0%, #20a7d4 100%); 
   background-image: -ms-linear-gradient(top, #18a9d9 0% ,#20a7d4 100%); 
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20a7d4', endColorstr='#20a7d4',GradientType=0 ); 
   background-image: linear-gradient(top, #18a9d9 0% ,#20a7d4 100%);   
   -webkit-box-shadow:1px 2px 2px #bababa, inset 1px 0px 1px #ffffff; 
   -moz-box-shadow: 1px 2px 2px #bababa,  inset 1px 0px 1px #ffffff;  
   box-shadow:1px 2px 2px #bababa, inset 1px 0px 1px #ffffff;  
   }


.button:active {
   padding:11px 32px; 
   border:solid 1px #11a1de; 
   -webkit-border-radius:4px;
   -moz-border-radius:4px; 
   border-radius: 4px; 
   font:18px Arial, Helvetica, sans-serif; 
   font-weight:bold; 
   color:#ffffff; 
   background-color:#076280; 
   background-image: -moz-linear-gradient(top, #076280 0%, #045975 100%); 
   background-image: -webkit-linear-gradient(top, #076280 0%, #045975 100%); 
   background-image: -o-linear-gradient(top, #076280 0%, #045975 100%); 
   background-image: -ms-linear-gradient(top, #076280 0% ,#045975 100%); 
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#045975', endColorstr='#045975',GradientType=0 ); 
   background-image: linear-gradient(top, #076280 0% ,#045975 100%);   
   -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
   -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
   box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
   opacity:0.36; 
   -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=36); 
   filter: alpha(opacity=36); 
   }

#greet-button{
  height: 10px;
  width: 20px;
}


.moving-image {
  height: 200px;
  color: rgb(245,248,250);
  background-color:#C0DEED;
  background: url(https://abs.twimg.com/images/themes/theme1/bg.png) center repeat-x;

    animation: awan-animasi 20s linear infinite;
    -ms-animation: awan-animasi 20s linear infinite;
    -moz-animation: awan-animasi 20s linear infinite;
    -webkit-animation: awan-animasi 20s linear infinite;
  }

  @keyframes awan-animasi {
    from {
      background-position: 0 0;
    }

    to {
      background-position: 100% 0;
    };
  }

  @-webkit-keyframes awan-animasi {
    from {
      background-position: 0 0;
    }

    to {
      background-position: 100% 0;
    };
  }

  @-ms-keyframes awan-animasi {
    from {
      background-position: 0 0;
    }

    to {
      background-position: 100% 0;
    };
  }

  @-moz-keyframes awan-animasi {
    from {
      background-position: 0 0;
    }

    to {
      background-position: 100% 0;
    };
}
























































































/*section.all {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(123,179,211);
}

section.sign_in {
  width: 40%;
  padding: 15px;
  font-size: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-left: auto;
  margin-right: auto;
  border: white solid 2px;
  border-radius: 50px;
  text-align: center;
}

section.sign_up {
  width: 40%;
  padding: 15px;
  font-size: 35px;
  margin-left: auto;
  margin-right: auto;
  border: white solid 2px;
  border-radius: 50px;
  text-align: center;
}


section.footer {
  font-size: 17px;
  font-style: italic;
  font-weight: lighter;
  text-align: center;
  padding: 1%;
}

section.links {
  text-align: right;
  font-size: 25px;
  padding: 15px;
  padding-right: 100px;
}

section.main{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  border: white solid 2px;
  border-radius: 10px;
}

section.current{
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 40px;
  text-align: center;
  font-weight: bolder;
  font-style: italic;
}

section.header{
  width: 85%;
  padding: 5px;
  padding-bottom: 10px;
  font-size: 100px;
  text-align: center;
  font-weight: bolder;
  font-style: italic;
  margin-left: auto;
  margin-right: auto;
  border: white solid 2px;
  border-radius: 50px;
}

p.user_greet{
  font-size: 15px;
  color: rgb(100,100,100);
  font-style: italic;
  font-weight: bold;
  padding-left: 15px;
}

p.body_greet{
  font-size: 40px;
  padding-left: 15px;
  text-align: left;
}

p.time_greet{
  font-size: 10px;
  text-align: right;
  padding-right: 19px;
}

section.post_greet{
  width: 65%;
  padding-bottom: 25px;
  font-size: 50px;
  text-align: center;
  font-weight: bolder;
  font-style: italic;
  margin-left: auto;
  margin-right: auto;
  border: white solid 2px;
  border-radius: 50px;
}

section.logged_in{
  width: 25%;
  font-size: 35px;
  text-align: left;
  font-weight: bolder;
  font-style: italic;
}

#sign_out_button{
  display: inline-block;
  width: 8em;
  height: 3em;
  margin-top: 5px;
  border-width: 0px;
  border-radius: 5px;
  color: white;
}
#greet_button{
  display: inline-block;
  width: 8em;
  height: 4em;
  margin-top: 5px;
  border-width: 0px;
  border-radius: 5px;
  font-size: 15px;
  color: white;
}

#post_submits_greet{ 
  width: 30em;
  height: 3em;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}

#post_submits{ 
  width: 12em;
  height: 3em;
  font-size: 20px;
  margin: 5px;
}*/