<header>

<section class="moving-image">

	<h1 id="welcome">Chitter!</h1>
	
  <section class= "links">
    <a href='/' class='button'>Home</a>
    <a id='sign_in_button' href='#'class='button'>Sign in</a> 
    <a id='sign_up_button' href='#' class='button'>Sign up</a>
  </section>
  
</section>

</header>
