<!DOCTYPE HTML>
<html>
<body>
	<section id="wrapper">
		<section id="holder">			
			<section id="forms-wrapper">
					<section class="sign_in">
						<h1>Sign back in to Chitter</h1>
							<form method="post" action="/sessions">
							    <input style="width: 206px; height: 30px" type="text" name="user_name" placeholder="Username" id="post_submits"/>
							    <input style="width: 206px; height: 30px" name="password" class="input_text" type="password" placeholder="Password"id="post_submits"/><br><br>
							    <input type="submit" class="button" value="Sign In!" id="greet_button">
							</form>
					</section>
					<section class="sign_up">
						<h1>Sign up to join Chitter</h1>
							<form action="/users" method="post">
								<input style="width: 200px; height: 30px" name="user_name" type="text" placeholder="Create Username" id="post_submits"><br>
								<input style="width: 200px; height: 30px" name="name" type="text" placeholder="Your name" id="post_submits"><br>
								<input style="width: 200px; height: 30px" name="email" type="text" placeholder="E-mail Address" id="post_submits"><br>
								<input style="width: 200px; height: 30px" name="password" class="input_text" type="password" placeholder="Password" id="post_submits"><br>
								<input style="width: 200px; height: 30px" name="password_confirmation" class="input_text" type="password" placeholder="Re-type Password" id="post_submits"/><br><br>
								<input type="submit" class="button"  value="Join Gritter!" id="greet_button">
							</form>
					</section>
					<% if current_user %>
						<section class="logged_in">
						  Hey, <%= current_user.user_name %>!<br>
							  <form method="post" action="/sessions"><br>
							    <input type="hidden" name="_method" value="delete"><input type="submit" value="Sign Out!" class="button" id="sign_out_button">
							  </form>
						</section>
						<section class="post_greet">  	
						  <form method="post" action="/greets"><br>
						    Peep : <br><br><input type="text" name="body" placeholder="What's on your mind......" style="width: 200px; height: 40px" height="10px" id="post_submits_greet"><br><br>
						    <input type="hidden" name="user_name" value="<%= current_user.user_name %>">
						    <input type="hidden" name="name" value="<%= current_user.name %>">
						    <input type="submit" value="Greet!" class="button" id="greet_button">
						  </form>
						</section>
					<% end %>
			</section>
			<section id="peeps-wrapper">
				<section id="peeps-holder">
					<aside>
					 	<h2>Current Peeps....</h2>
					 		<section id="peep_list"></section>
								<template id="peeps">
									<% @greets.reverse.each do |greet| %><br>
			  					<p class="user_greet">{{user_name}}</p>
			  					<p class="body_greet">{{body}}</p>
			  					<p class="time_greet">Greeted at{{created_at}}</p><br>
			  					<% end %>
								</template>
					</aside> 
				</section>
			</section>
		</section>	
	</section>
</body>
</html>